# Python
*.pyc
*.pyo
__pycache__/
instance/
*.env
venv/
*.sqlite3
*.db

# Flask specific
instance/
*.log
*.pot
*.py[cod]
*$py.class

# Node.js (for Tailwind)
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment variables
.env

# VSCode, Sublime Text, and other IDEs
.vscode/
.idea/
*.swp

# macOS
.DS_Store

# Windows
Thumbs.db

# Flask migrations folder (if using Flask-Migrate)
migrations/

# Flask Cache (optional, if caching is used)
*.cache
